form{
    .form-group{
        border-bottom: 1px solid #eee;
        padding: 0 20px 15px;
        label {
            font-size: 18px;
        }
    }
}
.modal-dialog{
    max-width: none;
    width: 70%;
}
.prod-mng{
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
}