<section class="row type">
  <section class="col-md-3 type-tree"
        (mouseenter)="navtoggle(true);"
        (mouseleave)="navtoggle(false);">
      <section class="list-header" >
          Danh mục sản phẩm
          <i class="glyphicon glyphicon-align-justify"></i>
      </section>
      <!--[ngClass]="navToggle?'':'hidden'"-->
      <section class="list-body" [hidden]="!navToggle" [ngClass]="isToggle?'list-body-Collapse':''">
          <li *ngFor="let item of treeLists let i = index" 
              (mouseenter)="navExpand(i);"
              (mouseleave)="navCollapse();">
              <p>
                  <span class="tree-text">{{item.name}}</span>
                  <span class="tree-descr">{{item.descr}}</span>
              </p>
              <i class="glyphicon glyphicon-menu-right"></i>
              <section class="list-child" *ngIf="item['items'] && forParent == item.name">
                  <section class="list-header list-child-header">
                      {{item.name}}
                  </section>
                  <section class="list-body list-child-body">
                      <li *ngFor="let childItem of item['items'] let i = index">
                          <p>
                              <span class="tree-text">{{childItem.name}}</span>
                              <span class="tree-descr">{{childItem.descr}}</span>
                          </p>
                      </li>
                  </section>
              </section>
          </li>
      </section>
  </section>
  <section class="col-md-9 type-mng">
    <button type="button" 
            class="btn btn-large btn-block btn-info" 
            style="cursor:pointer;"
            (click)="addParentType()">
            新增顶级分类
    </button>
    <section class="table table-bordered">
      <ul class="theader">
        <li class="th type-parent">上级分类</li>
        <li class="th type-name">分类名称</li>
        <li class="th type-info">分类描述</li>
        <li class="th type-do">操作</li>
      </ul>
      <ul class="tr" *ngFor="let item of treeLists let i = index">
          <li class="td type-parent">{{item.parent}}</li>
          <li class="td type-name">{{item.name}}</li>
          <li class="td type-info">{{item.descr}}</li>
          <li class="td type-do">
            <button type="button" class="btn btn-info" title="增加下级分类" (click)="addChild(i)">
              <i class="iconfont icon-xiajiicon"></i>
            </button>
            <button type="button" class="btn btn-primary" title="修改分类" (click)="editItem(i, null)">
              <i class="iconfont icon-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" title="删除分类" (click)="deleteItem(i, null)">
              <i class="iconfont icon-delete"></i>
            </button>
          </li>
          <ul class="childs-type" *ngFor="let childItem of item.items let j = index">
            <li class="childs-type-td type-parent">{{childItem.parent}}</li>
            <li class="childs-type-td type-name">{{childItem.name}}</li>
            <li class="childs-type-td type-info">{{childItem.descr}}</li>
            <li class="childs-type-td type-do">
              <button type="button" class="btn btn-primary" title="修改分类" (click)="editItem(i, j)">
                <i class="iconfont icon-edit"></i>
              </button>
              <button type="button" class="btn btn-danger" title="删除分类" (click)="deleteItem(i, j)">
                <i class="iconfont icon-delete"></i>
              </button>
            </li>
          </ul>
      </ul>
    </section>
  </section>
</section>