.web-info{
    margin: 20px;
    label{
        font-size: 19px;
        font-family: '黑体';
        font-weight: 600;
        padding: 15px;
        padding-bottom: 10px;
        display: block;
        color: #fff;
        background-color: #3F51B5;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .form-group{
        border: 1px solid #ddd;
        border-top: 0;
        border-radius: 6px;
        margin: 0;
        margin-bottom: 10px;
        .nowContent{
            padding: 0 15px;
            p{
                border-bottom: 1px solid #ddd;
                padding-top: 10px;
            }
        }
        .phone{
            .input-group{
                display: inline-flex;
                align-items: center;
                padding: 0;
            }
        }
        .input-group{
            width: 80%;
            padding: 0 15px;
            margin-bottom: 10px;
        }
    }
    img{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}