<section class="web-info" *ngFor="let item of webInfo">
  <section class="form-group">
    <label>优惠信息</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <p>{{item.youhui}}</p>
    </section>
    <div class="input-group">
      <input type="text" 
        class="form-control" 
        placeholder="请填写优惠信息" 
        maxlength="40"
        [(ngModel)]="webInfoNew.youhui">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="updateData()">更新</button>
      </span>
    </div>
  </section>
  <section class="form-group">
    <label>地址</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <p>{{item.address}}</p>
    </section>
    <div class="input-group">
      <input type="text" 
        class="form-control" 
        placeholder="请填写地址" 
        maxlength="60"
        [(ngModel)]="webInfoNew.address">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="updateData()">更新</button>
      </span>
    </div>
  </section>
  <section class="form-group">
    <label>网站名称</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <p>{{item.name}}</p>
    </section>
    <div class="input-group">
      <input type="text" 
        class="form-control" 
        placeholder="请填写网站名称" 
        maxlength="20"
        [(ngModel)]="webInfoNew.name">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="updateData()">更新</button>
      </span>
    </div>
  </section>
  <section class="form-group">
    <label>热线电话</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <section *ngFor="let phone of item.phone">
        <p *ngFor="let number of phone.number">
          联系人：{{phone.name}}
          电话：{{number}}
        </p>
      </section>
    </section>
    <section class="col-md-12 phone">
      <div class="input-group col-md-3">
        <span>负责人：</span>
        <input type="text" 
          class="form-control" 
          placeholder="请填写热线负责人"
          [(ngModel)]="phoneName">
      </div>
      <div class="input-group col-md-6">
        <span>电话号码：</span>
        <input type="text" 
          class="form-control" 
          placeholder="请填写热线电话"
          [(ngModel)]="phoneNumber">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="updateData()">更新</button>
        </span>
      </div>
    </section>
  </section>
  <section class="form-group">
    <label>网站Logo</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <p>
        <img
         src="{{item.logo}}" 
         alt="logo" 
         width="100px" 
         height="100px">
      </p>
    </section>
    <div class="input-group">
      <image-upload
            [buttonCaption]="'选择图片'"
            [dropBoxMessage]="'将图片拖放到这里！'"
            (onFileUploadFinish)="uploadFunc('logo', $event)"
      ></image-upload>
      <button class="btn btn-primary" type="submit" (click)="upload('logo')">提交</button>
    </div>
  </section>
  <section class="form-group">
    <label>首页轮播图</label>
    <section class="nowContent">
      <span>目前内容：</span>
      <p>
        <img 
          src="{{lunbo}}"
          width="100px" 
          height="100px"
          *ngFor="let lunbo of item.lunbo">
      </p>
    </section>
    <div class="input-group">
      <image-upload
            [buttonCaption]="'选择图片'"
            [dropBoxMessage]="'将图片拖放到这里！'"
            (onFileUploadFinish)="uploadFunc('cor', $event)"
      ></image-upload>
      <button class="btn btn-primary" type="submit" (click)="upload('cor')">提交</button>
    </div>
  </section>
</section>